
/*
* QUILL STYLING
*********************/

@import "~quill/dist/quill.core.css";


#editor {
  height: auto;
  min-height: 800px;
  border-left: none;
  border-right: none;
  border-bottom: none;
  flex-basis: 100%;
}

div.ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;
  background:var(--bg-color);
  z-index: 1;
  position: fixed;
  flex-basis: 100%;
  width: inherit;
  height: 75px;
  padding: 0;
  padding-top: 40px;
  border: var(--border);
}  




#editor > div.ql-editor.ql-blank, #editor > div.ql-editor {
  padding: 30px;
  margin: 0 20% 50px;
  border: none;
  border-top: none;
  min-height: 800px;
  max-width: 900px;
}

.ql-picker-options {
  background: var(--bg-color)!important;
  border: var(--border)!important;
}

/* Mobile */

@media only screen and (max-width: 732px){
  div.ql-toolbar.ql-snow{
    flex-wrap: wrap;
  z-index: 1;
  position: fixed;
  transform: translateX();
  width: 100%;
  bottom: 55px;
  padding: 10px;
  }

  #editor > div.ql-editor.ql-blank, #editor > div.ql-editor{
    box-shadow: none;
    margin: 0;
    padding: 50px 10px 150px 10px;
    width: 100%;
    font-size: 2em;
  }

  #editor{
    margin-left: auto;
  }
  
  #editorContainer > div.ql-toolbar.ql-snow{
    padding-top: 15px;
  }
}

div.ql-toolbar.ql-snow{
  padding: 15px 0;
}

div.ql-toolbar.ql-snow .ql-formats{
  margin-bottom: 15px;
}

@media only screen and (max-width: 628px){
  div.ql-toolbar.ql-snow{
    bottom: 90px;
  }
}

@media only screen and (max-width: 327px){
  div.ql-toolbar.ql-snow{
    bottom: 130px;
  }
}

@media only screen and (max-width: 241px){
  div.ql-toolbar.ql-snow{
    bottom: 165px;
  }
}