
/*
* QUILL STYLING
*********************/

@import "~quill/dist/quill.core.css";


#editor {
  height: auto;
  min-height: 800px;
  border-left: none;
  border-right: none;
  border-bottom: none;
  flex-basis: 100%;
}

div.ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;
  background: white;
  z-index: 1;
  position: fixed;
  flex-basis: 100%;
  width: inherit;
  height: 75px;
  padding: 0;
  padding-top: 28px;
}  

#editor > div.ql-editor.ql-blank, #editor > div.ql-editor {
  padding: 100px;
  padding-top: 100px;
  margin: 0 20% 50px;
  border: 1px solid lightgray;
  border-top: none;
  min-height: 800px;
}

@media only screen and (max-width: 1100px){
  #editor > div.ql-editor.ql-blank, #editor > div.ql-editor{
/*     -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
    box-shadow: none;
    margin: 0;
    padding: 0;
    padding-top: 100px; */
    width: 800px;
    margin-left: 100px;
    padding: 50px;
  }
}
@media only screen and (max-width: 732px){
  div.ql-toolbar.ql-snow{
  z-index: 1;
  position: fixed;
  left: -59px;
  transform: translateX();
  width: 100%;
  bottom: 76px;
  padding: 10px;
  }
  #editor > div.ql-editor.ql-blank, #editor > div.ql-editor{
    box-shadow: none;
    margin: 0;
    padding: 0;
    padding-top: 100px;
    width: 100%;
    padding-right: 10px;
    font-size: 2em;
  }

  #editor{
    margin-left: auto;
  }
  
  #editorContainer > div.ql-toolbar.ql-snow{
    padding-top: 15px;
  }

  }

/* @media only screen and (max-width: 1000px) {
      #editor > div.ql-editor.ql-blank{
        margin: 0 10%; 
        width: 1000px;
    }
    body > div.ql-toolbar.ql-snow{
        width: 1200px;
    }  
    
  } 
*/


  
