
/*
* QUILL STYLING
*********************/

@import "~quill/dist/quill.core.css";


#editor {
  height: auto;
  min-height: 800px;
  border-left: none;
  border-right: none;
  border-bottom: none;
  flex-basis: 100%;
}

div.ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;
  background: white;
  z-index: 1;
  position: fixed;
  flex-basis: 100%;
  width: inherit;
  height: 75px;
  padding: 0;
  padding-top: 40px;
}  

#editor > div.ql-editor.ql-blank, #editor > div.ql-editor {
  /*padding: 100px;
  padding-top: 100px;*/
  padding: 30px;
  margin: 0 20% 50px;
  /*border: 1px solid lightgray;*/
  border: none;
  border-top: none;
  min-height: 800px;
  max-width: 900px;
}

/* Mobile */

@media only screen and (max-width: 732px){
  div.ql-toolbar.ql-snow{
    flex-wrap: wrap;
  z-index: 1;
  position: fixed;
  transform: translateX();
  width: 100%;
  bottom: 75px;
  padding: 10px;
  }

  #editor > div.ql-editor.ql-blank, #editor > div.ql-editor{
    box-shadow: none;
    margin: 0;
    padding: 50px 10px 150px 10px;
    width: 100%;
    font-size: 2em;
  }

  #editor{
    margin-left: auto;
  }
  
  #editorContainer > div.ql-toolbar.ql-snow{
    padding-top: 15px;
  }
}